body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  border-style: dotted;
}

p {
  font-family: times;
  font-size: 18px;
}

.avatar {
  width: 100px;
  height: 120px;
  border-radius: 50%;
}